


<p id="notice"><%= notice %></p>




 <div class="row" id="main_content_holder">
   
	
  <div class="col-md-4">
  <div class="panel panel-default">
      <div class="panel-body">


        <h2> <%= @books.id %> </h2>
      </div>
    </div>
    
  </div>

<div class="col-md-8">
 <div class="panel panel-default">
      <div class="panel-body">
      <div class="col-md-8">
    <h1 class="tittle"> <%= @books.name %> </h1>
    <p> <%= @books.description %> </p>
</div>


    </div>
  </div>


	</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>